/* Backround */


section {
    background: #77A1D3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#navigation {
    background-color: none;
}

/* Menu */

#Header a:hover {
color: #FFFFFF;
}

/* Bannière */

#bg-img {
    background: url('../images/work.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 550px;

}

/* A propos */

.a-propos {
    margin-top: -200px;
}

.a-propos .fab {
    color: #FFFFFF;

}


.a-propos hr {
    border-width: 2px;
    margin-top: 6px;
}

.presentation {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
}

.competences {
    padding: 10px 20px 10px 20px;
    font-size: 25px;
}

.bleu {
    border-width: 2px;
    margin-top: 6px;
}


#test {
    color: orangered;
}

#colorbar {
    background-color: orangered;
}

#test1 {
    color: blue;
}

#colorbar2 {
    background-color: blue;
}

#test2 {
    color: rgb(238, 94, 41);
}

#colorbar3 {
    background-color: rgb(238, 94, 41);
}

#test3 {
    color: rgb(231, 231, 17);
}

#colorbar4 {
    background-color: rgb(231, 231, 17);
}

#test4 {
    color: rgb(67, 67, 131);
}

#colorbar5 {
    background-color: rgb(67, 67, 131);
}

.projets-vert {
    padding: 10px 20px 10px 20px;
    font-size: 25px;

}

.ligne-vert {
    border-width: 2px;
    margin-top: 6px;
}

/* Projets */

